*{
	text-align: center;
	margin: auto;
	padding: 0px;
}
h3{
	padding-top: 10px;
}
button{
	width: 32px;
	height: 32px;
}
#retry{
	display: none;
	width: auto;
}
#go{
	display: none;
}
#continue {
	width: auto;
}